<f:form name="{formName}">
	<f:if condition="{settings.formPages}">
		<f:then>
			<h3>{settings.formPages.1.label}</h3>
			<f:for each="{settings.formPages.1.fields}" key="fieldName" as="field">
				<f:render partial="Field"
						  arguments="{_all}"/>
			</f:for>
			<h3>{settings.formPages.2.label}</h3>
			<f:for each="{settings.formPages.2.fields}" key="fieldName" as="field">
				<f:render partial="Field"
						  arguments="{_all}"/>
			</f:for>
		</f:then>
		<f:else>
			<f:for each="{settings.formFields}" key="fieldName" as="field">
				<f:render partial="Field"
						  arguments="{_all}"/>
			</f:for>
		</f:else>
	</f:if>
</f:form>